@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Doesn't matter;
</address>

<address>
    <strong>Support:</strong>  None ;)<br />
    <strong>Marketing:</strong> None :-)
</address>