<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMessageQueue" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13666/MessageService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMessageQueue" contract="MessageQueue.IMessageQueue"
                name="WSHttpBinding_IMessageQueue">
                <identity>
                    <userPrincipalName value="maksim.yarmoshyn@icx.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>